@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Serif&family=Nunito&family=Playfair+Display&family=Roboto+Slab&display=swap');


fonts {
  font-family: 'Merriweather', serif;
font-family: 'Noto Serif', serif;
font-family: 'Nunito', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
}

body {
  font-family: 'Roboto Slab', serif;
  color: #fff;
  background: rgba(0, 0, 0, 0.834);
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  font-size: 17px;
}

.content-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  /* width: 100vh !important; */
}

.logo_text {
  display: inline-block;
  font-weight: 700;
  font-family: 'Merriweather', serif;
  color: #fff !important;
  padding: 15px 25px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all .2s ease;
}
.logo_text:hover {
  /* color: #ED1C24 !important; */
  /* background-color: #ED1C24; */
  padding: 15px 55px;
}

.theme_color {
  color: #ED1C24;
}
.theme_box_shadow {
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.font_sm {
  font-size: 14px;
}

a{
  text-decoration: none;
  color:#333;
  cursor: pointer;
}

a:hover {
  color: #333;
}

.top_posts_title {
  position: relative;
  padding: 15px 0;
}

.top_posts_title::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 120px;
  height: 2px;
  background-color: #ED1C24;
}

.top_posts img {
  width: 80px;
  height: 80px;
}


.post {
  padding: 10px;
  border-bottom: 1px solid #333;
  border-radius: 8px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  transition: all .3s;
}

.post:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;

}

.post img {
  border-radius: 8px;
}


.download {
  color: #ED1C24;
}
.download:hover {
  color: #ED1C24 !important;
  text-decoration: underline;
}


/* Loading */

.loader-container {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* background: rgba(0, 0, 0, 0.834); */
  background: #333;
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}


/* ---------------- innnerLoading ------------------- */

.wave {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 4px;
  background-color: #fff;
  animation: wave 1s ease-in-out infinite;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.ball:nth-child(2) {
  animation-delay: -0.2s;
}

.ball:nth-child(3) {
  animation-delay: -0.4s;
}

.ball:nth-child(4) {
  animation-delay: -0.6s;
}

.ball:nth-child(5) {
  animation-delay: -0.8s;
}



/* .hero_section {
  background: rgba(0, 0, 0, 0.834);
background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
} */

.card {
  border-radius: 10px;
  background-color: #252A37;
  color: #fff;
  cursor: pointer;
  transition: all .2s ease;
}

.card .img, .card img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.title {
  color: #fff;
  transition: all .2s ease-in;
}
.title:hover {
  color: #fff;
}

.card:hover {
  transform: translateY(-20px);
}

.card:hover .title{
  color: #ED1C24;
}

.title > div {
  font-size: 20px;
}


/* Search Input */

input {
	outline: none;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}
input[type=search] {
	padding: 9px 10px 9px 32px;
	width: 80px;
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	/* border: solid 1px #ccc; */
	border: solid 1px #2c3e50;
	
	-webkit-border-radius: .25em;
	   -moz-border-radius: .25em;
	        border-radius: .25em;
	
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	        transition: all .5s;
  
  background-color: #2c3e50 !important;
  color: #fff !important;
  border: 1px solid #fff;
}
input[type=search]:focus {
	width: 200px;
	background-color: #2c3e50 !important;
	border-color: #2c3e50 !important;
	
	-webkit-box-shadow: 0 0 5px 2c3e50;
	   -moz-box-shadow: 0 0 5px 2c3e50;
	        box-shadow: 0 0 5px 2c3e50;


          color: #fff !important;
          border: 1px solid #fff !important;
}

.search-btn {
  padding: 9px ;
	outline: none;
  box-shadow: none;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* Categories */

:root {
  --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --gray: #34495e;
  --darkgray: #2c3e50;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 1px solid #fff;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: #2C3E50;
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  /* height: 3em; */
  border-radius: 4px;
  border: 1px solid #fff;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  /* padding: 1em; */
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #333;
  transition: .25s all ease;
  pointer-events: none;
  border: 1px solid #fff;
}
/* Transition */
.select:hover::after {
  color: #333;
}

select.decorated option:hover {
  background-color: #fff !important;
}

select {
  padding: 7px !important;
}



@media screen and (max-width: 576px) {
  .content {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .footer h5 {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 450px) {
  .content {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .footer h5 {
    font-size: 14px !important;
  }
}
